<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleAllowMixedLocalizations</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>Adobe AIR Installer</string>
	<key>CFBundleGetInfoString</key>
	<string>Adobe AIR 2.7</string>
	<key>CFBundleIconFile</key>
	<string>Adobe AIR Installer</string>
	<key>CFBundleIdentifier</key>
	<string>com.adobe.air.Installer</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.7</string>
	<key>CFBundleVersion</key>
	<string>2.7.0.19530</string>
	<key>LSBackgroundOnly</key>
	<true/>
	<key>LSMinimumSystemVersion</key>
	<string>10.4.9</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2007-2011 Adobe Systems Inc.</string>
</dict>
</plist>
